	<style>
		@-webkit-keyframes border-pulsate {
            0%   { border-color: rgba(246, 89, 19, 0); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);}
            50% { border-color: rgba(246, 89, 19, 1); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(246, 89, 19, 0.6); }
            100%   { border-color: rgba(246, 89, 19, 0); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);}
        }

        .changeAlert {
            border: 2px solid #F65913;
            -webkit-animation: border-pulsate 2s;
            -webkit-animation-iteration-count: 1;
        }
	</style>
	
	
		<!-- assumed that scope and controller are defined -->
		
		<div class="form-group">
            <label class="control-label" > Check In: </label>
            <input type="text" class="form-control date" readonly="true" ng-model="searchParams.fromDate" data-min-date="today" bs-datepicker required/>
        </div>

        <div class="form-group">
            <label class="control-label" > Check Out: </label>
            <!-- {{toMinDate}} is a scope var that is set on first load (used if you need to add to the from date) -->
            <input type="text" class="form-control date" readonly="true" ng-model="searchParams.toDate" data-min-date="{{toMinDate}}" laterthan="{{searchParams.fromDate}}" bs-datepicker required />
        </div>